<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>flyeasy</title>
	<link rel="stylesheet" href="/../static/css/headerEstilo.css"/>
	
</head>

<body>

<header>
	<div th:insert="assets/headerEstilo :: style"></div>
    <div class="principal-header">
        <div class="header-items">
            <div class="link">
                <h2 class="titulo">flyeasy</h2>
            </div> 
            <div class="link">
                <h5 class="link-item"> Passagem Aérea </h5>
            </div>
            <div class="link">
                <h5 class="link-item"> Sobre </h5>
            </div>
            <div class="link">
                <h5 class="link-item"> Contatos </h5>
            </div>
            <div class="link">
                <h5 class="link-item"> Ajuda </h5>
            </div>
        </div>
    </div>
</header>